.wrapper{
	//Dùng flex bao HTML nen du dùng 1150px thì vân thay đổi responsive
	display: flex;
	// canh theo chiều dọc - CHECK LAI
	flex-direction: column;
	align-items: center
}

.container{
	width: var(--default-layout-width);
	display: flex;
}

.content{
	flex: 1;

}